<a href="https://colab.research.google.com/github/AishwaryaSuradkar11/Python_Tasks/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [4]:
salary = float(input("Enter your salary: "))

HRA =0.1*salary
DA = 0.05*salary
PF = 0.03*salary
salary = salary-HRA-DA-PF

if salary < 500000:
  print('Tax is 0')
  Tax = salary*0
  print('Your this month Salary is',salary-salary*0)
elif salary >= 500000 and salary <=1000000:
  print('Tax is 10%')
  Tax = salary*0.1
  salary = salary-salary*0.1
  print(f"Your salary is: ₹{salary:,}")
elif salary > 1000000 and salary <= 2000000:
  print('Tax is 20%')
  Tax = salary*0.2
  print('Your this month Salary is',salary-salary*0.2)
else:
  print('Tax is 30%')
  Tax = salary*0.3
  print('Your this month Salary is',salary-salary*0.3)

Enter your salary: 800000
Tax is 10%
Your salary is: ₹590,400.0



### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [8]:
a = int(input("Enter the First angle "))
b = int(input("Enter the Second angle "))
c = int(input("Enter the Third angle "))

if a+b+c == 180:
  print("It can form a Triangle")
else:
  print("It cannot form a Triangle")

Enter the First angle 100
Enter the Second angle 40
Enter the Third angle 40
It can form a Triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [10]:
cost_price = float(input("Enter the cost price: "))
sale_price = float(input("Enter the selling price: "))

if sale_price>cost_price:
  print("There is a Profit")
else:
  print("There is a loss")

Enter the cost price: 100
Enter the selling price: 99
There is a loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [13]:
menu = input('''
 1. Convert cm to ft
 2. Convert km to miles
 3. Convert USD to INR
 4. Exit
''')

if menu == '1':
  number = float(input("Enter the number"))
  number = number*0.0328084
  number = round(number,4)
  print(number)
elif menu == '2':
  number = float(input("Enter the number"))
  number = number*0.621371
  number = round(number,4)
  print(number)
elif menu == '3':
  number = float(input("Enter the number"))
  number = number*82.22
  number = round(number,4)
  print(number)
else:
  print("Exit")

 1. Convert cm to ft
 2. Convert km to miles
 3. Convert USD to INR
 4. Exit
3
Enter the number100
8222.0

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [2]:
number = int(input("Enter the number: "))
a = 0
b = 1
if a==0 and b==1:
  print(a)
  print(b)
  for i in range(2,number):
    c= a+b+i

    print(c)

Enter the number: 11
0
1
3
4
5
6
7
8
9
10
11

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [11]:
number = int(input("Enter the factorial number: "))
fact=1
for i in range(1,number+1):
  fact=fact*i
  print(fact)

Enter the factorial number: 5
1
2
6
24
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [1]:
# Write code here

loop example -> program to print the table

In [2]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

Sum of all digits of a given number

In [6]:
number = int(input("Enter the number: "))

sum=0
while number>0:
  i= number%10
  sum=sum+i
  number = number//10
print(sum)

Enter the number: 34
7

keep accepting numbers from users till he/she enters a 0 and then find the avg

In [10]:
number = int(input("Enter the number: "))

sum=0
count=0
while number!=0:
  sum = sum+number
  count=count+1
  print(sum)
  number = int(input("Enter the number"))
  if number==0:
    break
  print(sum/count)
  print("The average is {}",sum/count)

Enter the number: 3
3
Enter the number4
3.0
The average is {} 3.0
7
Enter the number5
3.5
The average is {} 3.5
12
Enter the number0

# limit example

In [14]:
i=0
while i<5:
  print(i)
  i=i+1
print("limit crossed")

0
1
2
3
4
limit crossed

# Guess game

In [37]:
import random
jackpot =random.randint(1,100)

guess = int(input("Guess the number: "))
counter=1
while guess!=jackpot:
  if guess < jackpot:
    print("Guess Higher")
  else:
    print("Guess Lower")

  guess=int(input("Guess the number: "))
  counter+=1
else:
  print("You guessed the right number")
  print("Total attempts: ",counter)

Guess the number: 50
Guess Higher
Guess the number: 70
Guess Higher
Guess the number: 90
Guess Lower
Guess the number: 80
Guess Higher
Guess the number: 85
Guess Higher
Guess the number: 89
You guessed the right number
Total attempts:  6

# For loop

In [8]:
for i in [1,2,3,4]:
  print(i)

1
2
3
4

Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [13]:
cur_pop = 10000

for i in range(1,11):
  cur_pop=cur_pop/1.1
  print(i,cur_pop)

1 9090.90909090909
2 8264.462809917353
3 7513.148009015775
4 6830.134553650703
5 6209.213230591548
6 5644.739300537771
7 5131.5811823070635
8 4665.07380209733
9 4240.976183724845
10 3855.4328942953134

Sequence sum
1/1! + 2/2! + 3/3! + ...

In [17]:
num = int(input("Enter the number:"))

result=0
fact=1

for i in range(1,num+1):
  fact=fact*i
  result = result+i/fact
print(result)

Enter the number:3
2.5

Nested loops

In [20]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

Pattern 1
*

**

***

In [25]:
n = int(input("Enter the number of rows: "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print()

Enter the number of rows: 3
*
* *
* * *

Pattern 2

1

121

12321

1234321

In [32]:
n = int(input("Enter the number of rows: "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  for k in range(i-1,0,-1):
    print(k,end=' ')
  print()

Enter the number of rows: 4
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

Loop Control Statement
1. Break
2. Continue
3. Pass

In [35]:
for i in range(1,5):
  if i==3:
    break
  print(i)

1
2

Program- Find the prime number.

In [39]:
lower = int(input("Enter the lower number: "))
upper = int(input("Enter the upper number: "))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

Enter the lower number: 1
Enter the upper number: 100
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [40]:
# Continue

for i in range(1,10):
  if i==5:
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9